{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="d-flex justify-content-center sizing">
    


         {{ render(controller('App\\Controller\\LeftSideController::leftSide')) }}

         {{ render(controller('App\\Controller\\ShopController::index')) }}

</div>
{% endblock %}
